
/* Layout */

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: [col] 300px [col] auto [col] auto [col] 220px;
  grid-template-rows: [row] auto [row] auto [row] auto [row] auto [row] ;
  background-color: #fff;
  color: #444;
}

.box {
    border: 1px dashed #444;
}

.logo {
  grid-column: col 1;
  grid-row: row ;
}

.navbar {
  grid-column: col 2 / span 3 ;
  grid-row: row ;
}
.content {
  grid-column: col 1 / span 3 ;
  grid-row: row 4 ;
}

.sidebar {
  grid-column: col 4 ;
  grid-row: row 4 ;
}

.footer {
  grid-column: col / span 4;
  grid-row: row 5;
}

.notification {
  grid-column: col / span 4;
  grid-row: row 2;
}

.topads {
  grid-column: col / span 4;
  grid-row: row 3;
}

/* Typography */

body {
  font-family: 'Raleway', sans-serif;
}

.logo {
  font-family: 'Roboto Slab', serif;
}

.navbar {
  font-family: 'Roboto Slab', serif;
}
